@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #4DA7F7;
    --clr-2: #171616;
    --clr-3: #b3d4f0;
}

@layer base {
    @font-face {
        font-family: "Kiona";
        font-weight: 400;
        src: url(../../fonts/Kiona-Regular.ttf);
    }

    @font-face {
        font-family: "Kiona-it";
        font-weight: 400;
        src: url(../../fonts/Kiona-Itallic.ttf);
    }

    @font-face {
        font-family: "RalewayThin";
        src: url(../../fonts/Raleway/static/Raleway-ExtraLight.ttf);
    }

    @font-face {
        font-family: "RalewayThinIt";
        src: url(../../fonts/Raleway/static/Raleway-ExtraLightItalic.ttf);
    }

    @font-face {
        font-family: "Raleway";
        src: url(../../fonts/Raleway/static/Raleway-Regular.ttf);
    }

    @font-face {
        font-family: "RalewayIt";
        src: url(../../fonts/Raleway/static/Raleway-Italic.ttf);
    }

    @font-face {
        font-family: "RalewayBold";
        src: url(../../fonts/Raleway/static/Raleway-Bold.ttf);
    }
}

.kiona {
    font-family: Kiona;
}

.kiona-it {
    font-family: Kiona-it;
}

.ralewayThin {
    font-family: RalewayThin;
}

.ralewayThinIt {
    font-family: RalewayThinIt;
}

.raleway {
    font-family: Raleway;
}

.ralewayIt {
    font-family: RalewayIt;
}

#light {
    stroke: url(#lightGradient);
}

.ralewayBold {
    font-family: RalewayBold;
}



#loading-spinner {
    animation: loading-spinner 1s linear infinite
}


@keyframes loading-spinner {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}



.card {
    --angle: 0deg;
    border: .18rem solid;
    border-radius: 50%;
    border-image: conic-gradient(from var(--angle), var(--clr-1), var(--clr-2), var(--clr-2), var(--clr-2), var(--clr-2), var(--clr-1)) 1;
    animation: 5s rotate linear infinite;
}
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  .rolam {
  --dot-color: var(--clr-1);
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, #4B4D4F calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(#4B4D4F calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
  }


  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: "Fájl kiválasztása";
    display: inline-block;
    background: #4B4D4F;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 11pt;
    color: #fff;
  }

  .custom-file-input:active::before {
    background: var(--clr-1);
  }


  .features_switchboard__F11Mv {
    width: 100%;
    height: 100%;
    gap: 19px;
    display: grid;
    grid-template-columns: repeat(18 ,1fr);
  }

  .features_switchboard__F11Mv [data-light] {
    width: 1px;
    height: 1px;
    background-color: #999;
    position: relative;
    border-radius: 9999px;
    transition: transform 250ms ease;
  }

  .features_switchboard__F11Mv [data-light][data-state=medium] {
    background-color: #4DA7F7;
    width: 1px !important;
    height: 1px !important;
    animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .features_switchboard__F11Mv [data-light][data-state=high] {
    background-color: #2c84d2;
    width: 1px !important;
    height: 1px !important;
    animation: ping 6s cubic-bezier(0, 0, 0.2, 1) infinite;
  }


  

@keyframes ping {
  75%, 100% {
    transform: scale(7);
    opacity: 0;
  }
}


.parallax {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}